.heading{
    padding: 2%;
    text-align: center;
    background-color:skyblue;
    color: darkblue;
   
}
#forecast-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.forecast {
    margin: 10px;
    height: 11rem; 
    width: 8.5rem;
    background-color: skyblue;
}
#current-uv{
    width:20px;
}
/* #clear-history{
    background-color: skyblue;
} */
ul {
    list-style-type: none;
    
  }
  #forecast5{
      margin-top: 0px;
      margin-bottom: 50px;
      flex-wrap: nowrap;
  }